.home {
  height: 45vw;
  width: 220vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home__container {
  background-color: #f5f5f5;
  box-shadow: 0px 0px 2px -1px black;
  display: flex;
  flex-direction: column;
}

.home__login {
  margin-top: 30px;
  padding: 20px;
  background-color: #1A8EFD;
  font-weight: bold;
  font-size: 20px;
  color: white;
  border: none;
  text-transform: uppercase;
  border-radius: 10px;
}
